<!DOCTYPE html>
<html>
<head>
    <title>storeData</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h2>THANK YOU FOR YOUR SUBMITTED ORDER </h2>
    <ul>
        <% results.forEach(function(r) { %>
        <li>Customer ID: <%= r.CUSTOMER_ID %></li>
        <li>Billing ID: <%= r.fullname %></li>
        <li>Shipping ID: <%= r.shippingaddress %></li>
        <li>Date: <%= r.city %></li>
        <li>Product Vector: <%= r.shippingstate %></li>
        <li>Order Total: <%= r.zip %></li>

        <br/><br/>
        <% }); %>
    </ul>
</div>
</body>
</html>